* {
    margin: 0;
    box-sizing: border-box;
}

.tutors__container {
    margin: 8rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 1320px;
}

.tutors__title {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 500;
    line-height: 59px;
    font-size: 48px;
    color: #000000;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 6.5rem;
}

.tutors__items {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.tutors__item {
    flex-basis: 50%;
    padding: 1.5rem;
}

.tutors__item:nth-child(even) {
    margin-top: 20rem;
}

.tutors__img-container {
    position: relative;
    max-width: 55%;
    max-height: 100%;
    margin: auto;
}

.tutors__image {
    border: 1.43px solid #D9CCB9;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    z-index: 1;
    animation: animatedBorder 10s infinite;
}

.tutors__name {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    font-size: 36px;
    color: #A54A47;
    padding-left: 1rem;
    padding-top: 0.62rem;
    padding-bottom: 1rem;
    margin-top: -3.5rem;
    margin-left: 3rem;
    z-index: 2;
    position: relative;
}

.tutors__description {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #000000;
    padding-left: 15px;
    padding-bottom: 15px;
}

.tutors__experience {
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    font-size: 24px;
    line-height: 29px;
    color: #87A6C6;
    padding: 1.25rem 0.625rem 1.25rem 0.625rem;
}